<div [formGroup]="form" >
    <label class="form-label" [attr.for]="question.key">{{question.label}}</label>
  
    <div [ngSwitch]="question.controlType">
  
      <input class="form-control"  *ngSwitchCase="'textbox'" [formControlName]="question.key"
              [id]="question.key" [type]="question.type">
  
      <select class="form-select" [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
        <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
      </select>

      <textarea class="form-control" *ngSwitchCase="'textarea'" 
        [formControlName]="question.key" [id]="question.key" ></textarea>
              
        <app-show-errors *ngIf="form.controls[question.key].errors" [ctrl]="form.controls[question.key]"></app-show-errors>

    </div>
  
    <!-- <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div> -->
  </div>