label {
  font-weight: 500;
  font-size: 16px;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}

.text-detail {
  font-weight: 400;
}
.btn-group {
  width: -webkit-fill-available;
}
.color-detail {
  font-weight: 500;
  size: 16px;
  width: 40px;
  background-color: aliceblue;
  margin: 3px;
  border: 1px, 1px, 1px, 1px;
  border-style: ridge;
}
