<ng-container [ngSwitch]="mode">

  <div class="container">
    <div mat-dialog-title class="title text-center">
      <h1>{{ title }}</h1>
    </div>

    <div *ngSwitchCase="'EDIT'">
      <small> mode: EDIT </small>
      <div>
        <app-dynamic-form [mode]='mode' [isDialog]="true" [buttonName]='buttonName' [fields]="fields$ | async" (close)="closeDialog()" (submit)="onSave($event)"></app-dynamic-form>
      </div>
    </div>
    <div *ngSwitchCase="'ADD_NEW'">
      <small> mode: NEW </small>
      <div>
        <app-dynamic-form [mode]='mode' [isDialog]="true" [buttonName]='buttonName' [fields]="fields$ | async" (close)="closeDialog()" (submit)="onSave($event)"></app-dynamic-form>
      </div>
    </div>
  </div>
</ng-container>
