<ng-container [ngSwitch]="mode">
<!-- <ng-container *ngFor=" let formItem of form">

</ng-container> -->

    <div mat-dialog-title class="title text-center">
        <h1>{{ title }}</h1>
      </div>
      <div mat-dialog-content >
          stam content
      
      </div>
      
      <div *ngSwitchCase="'EDIT'">
          EDDITITITITI
          <div>
            <h2>Job Application for Heroes</h2>
            <app-dynamic-form [questions]="questions$ | async"></app-dynamic-form>
          </div>
      </div>
      <div *ngSwitchCase="'NEW'">
          
          NEWEWEW
          <div>
            <h2>Job Application for Heroes</h2>
            <app-dynamic-form [questions]="questions$ | async"></app-dynamic-form>
          </div>
      </div>
      <div mat-dialog-actions>
        <button mat-button>ביטול</button>
        <button mat-button>שמור שינוי</button>
      </div>
</ng-container>

