<div class="container">
  <h1 class="text-center">Action menu</h1>
</div>

<div class="list-group">
  <button type="button" class="list-group-item list-group-item-action ">First Action</button>
  <button type="button" class="list-group-item list-group-item-action">Second Action</button>
  <button type="button" class="list-group-item list-group-item-action">Third button Action</button>
  <button type="button" class="list-group-item list-group-item-action">Fourth button Action</button>
  <button type="button" class="list-group-item list-group-item-action" >Fifth button Action</button>
  <button type="button" class="list-group-item list-group-item-action" >Sixth button Action</button>
  <button type="button" class="list-group-item list-group-item-action" >Seventh button Action</button>
  <button type="button" class="list-group-item list-group-item-action" >Eighth button Action</button>
</div>

